<div class="navbar">
    <!-- Logotype -->
    <div class="logo" onclick="toggleMenu()">
    <img class="navbar-logo" src="assets/images/logo.png" alt="Logotype">
    </div>

    <!-- Navbar menu -->
    <div class="nav-link">
      <a class="active" href="#home">Home</a>
      <a href="#">Catalog</a>
      <a href="#">My study</a>
      <a href="#">Teach</a>
    </div>

    <!-- Just space ˆ_ˆ -->
    <div class="navbar-spacer"></div>

    <!-- Search input -->
    <form class="search-full" role="search">
      <div class="search">
        <input class="search-input" aria-label="Search" type="search" placeholder="Search...">
      </div>
    </form>

    <!-- Language selector -->
    
    

    <!-- <div class="language">Language Selector</div>
    <div class="notification-icons">
      <div class="notification-icon">🔔</div>
      <div class="lightning-icon">⚡</div>
      <div class="number">1</div>
    </div> -->

    <!-- Vertical divider -->
    <div class="navbar-divider"></div>

    <!-- Login and Registration -->
    <a href="?auth=login" class="navbar-login-button">Login</a>
    <a href="?auth=singup" class="navbar-singup-button">Sing up</a>

    <!-- Profile -->
    <div class="profile-menu" id="profileMenu">
      <div>Profile</div>
      <div>Settings</div>
      <div>Notifications (<span class="notification-badge">1</span>)</div>
      <button>Выход</button>
    </div>
  </div>
  <script>
    function toggleMenu() {
      var menu = document.getElementById('profileMenu');
      menu.classList.toggle('show');
    }
  </script>
