<div class="header-category">
    <div class="categories-h2">
        <h2>Chose your c<del>o</del>urse xD</h2>
    </div>
    <div class="category-filters">
        <div class="categories">
            <button>Программирование</button>
            <button>Анализ данных</button>
            <button>Python</button>
            <button>JavaScript</button>
            <button>Design</button>
            <button>Ux/Ui</button>
            <button>Flutter</button>
            <button>Разработка игр</button>
            <button>Data Science</button>
            <button>Машинное обучение</button>
            <button>Web-разработка</button>
            <button>Базы данных</button>
            <button>Кибербезопасность</button>
            <button>DevOps</button>
            <button>React</button>
            <button>Vue.js</button>
            <button>Angular</button>
            <button>Swift</button>
            <button>Android Development</button>
            <button>iOS Development</button>
            <button>HTML & CSS</button>
            <button>PHP</button>
            <button>Ruby</button>
            <button>Ruby on Rails</button>
            <button>Java</button>
            <button>C#</button>
            <button>.NET</button>
            <button>C++</button>
            <button>C</button>
            <button>Go</button>
            <button>Rust</button>
            <button>TypeScript</button>
            <button>Node.js</button>
            <button>Express.js</button>
            <button>Django</button>
            <button>Flask</button>
            <button>Spring Boot</button>
            <button>Objective-C</button>
            <button>Kotlin</button>
            <button>Dart</button>
            <button>Scala</button>
            <button>Perl</button>
            <button>Lua</button>
            <button>Shell Scripting</button>
            <button>PowerShell</button>
            <button>Azure</button>
            <button>AWS</button>
            <button>Google Cloud</button>
            <button>Docker</button>
            <button>Kubernetes</button>
            <button>Git</button>
            <button>Blockchain</button>
            <button>Cryptography</button>
            <button>Quantum Computing</button>
            <button>SEO</button>
            <button>Digital Marketing</button>
            <button>Content Writing</button>
            <button>Graphic Design</button>
            <button>3D Modeling</button>
            <button>Augmented Reality</button>
            <button>Virtual Reality</button>
            <button>Game Engine Development</button>
            <button>More....</button>
        </div>
    </div>
</div>
    