<app-header></app-header>
<app-filters></app-filters>

<div class="home-container">
    <section class="welcome-section">
      <h1>Добро пожаловать в Belkin LMS</h1>
      <p>Начните свой путь обучения с нами сегодня!</p>
    </section>
  
    <section class="courses-section">
      <h2>Популярные курсы</h2>
      <div class="courses-list">
        <div class="course-card">
          <h3>Курс по программированию</h3>
          <p>Описание курса...</p>
        </div>
      </div>
    </section>

  </div>
  